
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
    color: $red;
    font-size: $font-size-base * 2;
    
    h1{
        font-size: $font-size-base * 5;
        color: $primary-color;
        text-decoration: underline;
    }
}